*{
    margin: 0;
    padding: 0;

}

body,button,input{
    font:12px Arial;
}

li{
    list-style: none;
/*cancel list point style.*/
}


a{
    color: #666;
    text-decoration: none;

}
input,button
{
    border: none;
    outline: none;
}
body{
    background-color: #f8fafc;
}

.w{
    width:1190px;
    margin:0 auto;
/*    set width */
}
.clearfix{
    *zoom:1;
}

.clearfix::after{
    content:"";
    display: block;
    height: 0;
    clear: both;

}

/*set top nav size padding and color*/
.top-nav{
    background: #f5f5f5;
    padding: 10px;
    font-size: 12px;
}

.top-nav .login{
    float: left;
}

.top-nav .login .h{
    color: #e63e3e;
    margin-right: 6px;
}
.top-nav .nav-list{
    float: right;
}
.top-nav .nav-list li{
    display: inline-block;
    /*make them horizontal*/
    margin-left: 10px;
}

/*search bar*/
.searchWrap .w{
     position: relative;
}
.logo{
    left: 15px;
    top: 30px;
    position: absolute;
    width:150px;
    height: 56px;
    line-height: 56px;
    font-size: 40px;
    color: #e63e3e;
    font-weight: bold;
    text-align: center;


}
.search-box{
    padding: 40px 0 40px 300px;
}

.searchInput{
    float:left;
    width: 530px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dddddd;
    padding: 0 10px;
    font-size: 15px;

}
.search-box .search-btn {
    float:left;
    width: 50px;
    height: 42px;
    background-color: #e63e3e;
    color: white;
}
.search-suggest{
    display: none;
    position: absolute;
    top:82px;
    width: 550px;
    background-color: #fff;
    border: 1px solid #dddddd;


}
.search-suggest ul li{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 10px;
}

categories
.menu{
    padding-bottom: 30px;
}
.aside-nav{
    float:left;
    width:200px;
    height:500px;
    box-shadow: 2px 6px 9px rgba(0,0,0,.2);

/*    set box style*/

}

.list-item .item-href{
    display: block;
    margin: 0 20px;
    height: 50px;
    height: 50px;
    line-height: 50px;
    color: #333333;
    border-bottom: 1px dotted;
    box-sizing: border-box;


/*    set items to block, color , size, margin,
and add dotted line at bottom*/
}

.list-item:last-child .item-href{
    border: none;

/*    remove the last items' dashed line*/
}



/*make sub categories*/
.nav-list{
    position: relative;
}

.list-item:hover,
.list-item:hover .item-href{
    background-color: #ff5f96;
    color: #ffffff;

/*    */
}
.nav-list .item-menu{
    display: none;
    position: absolute;
    left:200px;
    width:900px;
    top: 0;
    min-height: 500px;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, .2);

/*initial display to none
set position to abs and parent class is relative,
set shadow and background, and let top to 0 to fit position

*/
}

.list-item:hover .item-menu{
    display: block;
/* listener and show */
}

.subcate{
    float: left;
    width: 610px;
    padding: 30px 20px 20px 20px;

}

.subcate .subcate_item{
    position: relative;
    padding-left: 80px;
}

.subcate .subcate_item .subcate_title{
    position: absolute;
    top: 3px;
    left:0;
    width: 70px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
/*text overflow then hid it*/
}

.subcate_title .subcate_title_arrow{
    margin-left: 5px;
/*    move arrow*/
}

.subact .subcate_con{

    padding: 5px;
}
.subcate .subcate_con .subcate_con_lk{
    float: left;
    height: 16px;
    line-height: 16px;
    border-left: 1px solid #dddddd;
    padding: 0 10px;
    margin: 3px 0;
/*make content link float and set size and color and padding*/
}
.subcate .subcate_con_lk:hover,
.subcate .subcate_con .subcate_con_lk:hover{
    color: #e63625;
/*using hover  to turn red color when mouse focus*/
}

/*slide show*/

.banner-wrap{
    float: left;
    margin-left: 20px;
}

.banner-wrap .banner{
    width: 970px;
    height: 500px;
}

.banner-wrap .banner ul{
    /*flex make picture showing horizontal*/
    display: flex;
    width: 100%;
}
.banner-wrap .banner ul li a{
    display: block;
    width: 970px;
    height: 500px;
}
.banner-wrap .banner ul li a img{
    width: 100%;
    height: 100%;

}


